<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.css" integrity="sha384-CS7AiMtZb5c/8weFoWn7/r2tRXJDwcTEdZudDXjRVNbwSJmKo8MGqDDQxYK7FjmX" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/mapbox-gl-geocoder.css" />
  </head>
  <body>
    <section id="sidebar">
      <div id='title'>
        Usesth.is
      </div>
      <div id="geocoder-container"></div>
      <svg class="chart">
        <g class="axis"></g>
      </svg>
      <div id='detail'>
      </div>
    </section>
    {{{ body }}}
    <script src="javascripts/bundle.js"></script>
  </body>
</html>

