<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <section id="sidebar">
      <div id='title'>
        Usesth.is
      </div>
      <input id='search_field' placeholder="New York" type='text' /><button id="search_button"
        type="submit">Center the map</button>
      <svg class="chart">
        <g class="axis"></g>
      </svg>
      <div id='detail'>
      </div>
    </section>
    {{{ body }}}
    <script src="javascripts/bundle.js"></script>
  </body>
</html>

