@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@media screen and (max-width: 50em) {
  #detail {
    display: none;
  }
}

.flash-message {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  text-align: center;
  top: 1.5em;
  border-radius: 0.5em;
  width: 60%;
  left:20%;
  right:20%;
  color: #fff;
  margin: 0;
  padding: 0.5em;
  background-color: steelblue;
}

.flash-message.info {
  background-color: steelblue;
}

.axis line, .axis path {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}

.tick, .tick text{
  fill: steelblue;
  font-family: sans-serif;
  font-size: 0.7em;
}


text {
 fill: #fff;
 font-family: sans-serif;
}

rect { fill: steelblue; }

html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-color: #eee;
}

#map {
  height: 100%;
}

#geocoder-container{
  pointer-events: all;
}

#sidebar {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  display: inline-block;
  border-left: 0.3em solid #4682B4;
  background-color: transparent;
  height: 100%;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  color: steelblue;
}

#detail {
  font-family: 'Ubuntu', sans-serif;
  margin: 0.5em;
  overflow: auto;
  float: right;
  width: 20%;
  z-index: 999;
}

.technology {
  list-style-type: none;
  color: #eee;
  padding: 0;
  background-color: #4682B4;
  border-bottom: 1px solid #B3CEE1;
  border-right: 1px solid #B3CEE1;
  padding: 3px 4px;
  margin: 2px 2px 2px 0px;
  text-decoration: none;
  font-size: 90%;
  line-height: 1.4;
  white-space: nowrap;
  display: inline-block;
}
